@charset "utf-8";
body {font-family: 'Poppins', sans-serif; background-color: #fafafa; font-size: .9375rem; color: #222;margin: 0;}
.inner{width: 1170px; margin: 0 auto;}
.wrap{display: flex; flex-flow: row wrap; justify-content: space-between; align-items: center;}
.wrap_s{display: flex; flex-flow: row wrap; justify-content: flex-start; align-items: center;}
.content{width: 100%; padding: 100px 0;}
.center{display: flex; justify-content: center; align-items: center;}
